@"
# Servidor
PORT=3000
NODE_ENV=development

# PostgreSQL
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DB_NAME

# Redis
REDIS_URL=redis://localhost:6900

# JWT
JWT_SECRET=tu_secret_aqui
"@ | Set-Content -Encoding UTF8 .env.example
